
._main-title {
    font-family: var(--title-font);
    font-weight: 800;
    line-height: 115%;
    margin: 0;

    font-size: 1.875rem;

    @include _768 {
        font-size: 2.5rem;
    }

    @include _992 {
        font-size: 3.4375rem;
    }
}

._title {
    
    font-family: var(--title-font);
    font-weight: 600;
    line-height: 125%;

    font-size: 1.125rem;

    @include _768 {
        font-size: 1.25rem;
    }

    @include _992 {
        font-size: 1.5rem;
    }
    
    &._min {

    }
}

._section-title {

    font-family: var(--title-font);
    font-weight: 800;
    line-height: 100%;
    font-size: 1.5rem;
    @include _768 {
        font-size: 2rem;
    }
    @include _992 {
        font-size: 2.5rem;
    }

}

._txt-center {
    text-align: center;
}

._txt-right {
    text-align: right;
}
